<footer class="piepagina">


<div class="parte1">

<div class="box">
    <figure>
<a href="#" > <img id="programo" src="assets/nose.PNG" alt="logoargprograma"> </a>

    </figure>
</div>

<div class="box"> 
</div>

<div class="box">
    <h2>Redes sociales</h2>
    <a class="redes" target="_blank" href="https://www.facebook.com/franco.tagle/"><i class="fa-brands fa-facebook"></i></a>
    <a class="redes" target="_blank" href="https://twitter.com/TagleFran"><i class="fa-brands fa-twitter"></i></a>
    <a class="redes" target="_blank" href="https://www.linkedin.com/in/franco-alberto-tagle-583b2a1ba/"><i class="fa-brands fa-linkedin"></i></a>

</div>  <!-- .box*3 -->




</div>




</footer>
