
    

    <div tabindex="0" class="container" id="sesion1" >
      <div class="row">
        <div class="col-7">

          <figure> 
      
            <img id="programa" src="assets/nose.PNG" alt="logoargprograma" >
            <figcaption id="tituloprograma"> #YoProgramo</figcaption>
                </figure> 
        
                      </div>
        <div class="col-2" id="sesion">
          <a target="_blank" href="https://www.facebook.com/franco.tagle/"><button id="linkedin"><i class="fa-brands fa-facebook"></i></button></a>
          <a target="_blank" href="https://twitter.com/TagleFran"><button id="twitter"><i class="fa-brands fa-twitter"></i></button></a>
          <a target="_blank" href="https://www.linkedin.com/in/franco-alberto-tagle-583b2a1ba/"><button id="linkedin"><i class="fa-brands fa-linkedin"></i></button></a>
          

     
    </div>
    <div  class="col-1"> 
      </div>
    <div id="login" class="col-2"> 
 <a routerLink="/Iniciar-sesion" aria-current="page">Iniciar sesión</a> 


    </div>
    </div>  
    </div>

    <div  tabindex="0" class="container" id="logo">
     <img id="tails" [src]="hola.icono" alt="paisaje">
 
    </div>



<div tabindex="0" id="perfil">
<h1>
  Nombre completo
</h1>
<p>
  Titulo
</p>
<p id="pais">
Buenos aires, Argentina
</p> 


</div>
