<div tabindex="0" class="container text-center" id="habilidades"> 
    <div class="row ">
        <div col="4">
            <h1 class="texto">Habilidades</h1>
          </div>
  
 

    

        </div>
    <div class="row ">
        <div class="col-4">
            <figure>
               
<img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
<figcaption>HTML</figcaption>

</figure>
        </div>
        <div class="col-4">
            <figure>
               
                <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                <figcaption>HTML</figcaption>
                
                </figure>
                    </div>
                    <div class="col-4">
                        <figure>
               
                            <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                            <figcaption>HTML</figcaption>
                            
                            </figure>
                                </div>

                              

                                

    </div>

    <div class="row">
        <div class="col-4">
            <figure>
               
                <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                <figcaption>HTML</figcaption>
                
                </figure>
                    </div>
                    <div class="col-4">
                        <figure>
               
                            <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                            <figcaption>HTML</figcaption>
                            
                            </figure>
                                </div>
                                <div class="col-4">
                                    <figure>
               
                                        <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                                        <figcaption>HTML</figcaption>
                                        
                                        </figure>
                                            </div>
                                        


    </div>

    <div class="row">
        <div class="col-4">
            <figure>
               
                <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                <figcaption>HTML</figcaption>
                
                </figure>
                    </div>
                    <div class="col-4">
                        <figure>
               
                            <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                            <figcaption>HTML</figcaption>
                            
                            </figure>
                                </div>
                                <div class="col-4">
                                    <figure>
               
                                        <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                                        <figcaption>HTML</figcaption>
                                        
                                        </figure>
                                            </div>
                                            <div class="row">
                                               
                                                <h1 class="texto">Competencia de idiomas</h1>
                                                
                                               
                                                <div class="col-4">
                                                
                                                            </div>
                                                            <div class="col-4">
                                                                <figure>
                                           
                                                                    <img class="habiImagenes" [src]="habilidades.icono" alt="HTML">
                                                                    <figcaption class="texto">B1</figcaption>
                                                                    
                                                                    </figure>
                                                                        </div>
                                                    
                                                
                                                </div>
                                                


    </div>

<!-- el final -->
</div>




