<div tabindex="0" class="container text-center" id="habilidades"> 
    <div class="row ">
        <div col="4">
            <h1 class="texto">Habilidades</h1>
          </div>
  
 

    

        </div>
    <div class="row">
        <div class="col-4   "  >
            <div>
            <figcaption>HTML</figcaption>
            <img class="imagenes" src="assets/html.png">
        </div>
        <br>
               <div class="progress">
<div class="progress-bar w-10 bg-info "  style="width: 70%;"> 
70%

</div>
               </div>
        </div>

        <div class="col-4">
            <div>
                <figcaption>Java</figcaption>
                <img class="imagenes" src="assets/java.png">
            </div>
            <br>
                   <div class="progress">
    <div class="progress-bar w-10 bg-info "  style="width: 40%;"> 
    40%
    </div>
                                </div>
    </div>

    <div class="col-4">
        <div>
            <figcaption>Css</figcaption>
            <img class="imagenes" src="assets/css1.png">
        </div>
        <br>
               <div class="progress">
<div class="progress-bar  w-10 bg-info "  style="width: 60%;"> 
60%
</div>
                            </div>
</div>
<div class="row ">
    <div class="col-4" >
        <div>
        <figcaption>JavaScript</figcaption>
        <img class="imagenes" src="assets/javas.png">
    </div>

           <div class="progress">
<div class="progress-bar w-10 bg-info "  style="width: 50%;"> 
50%

</div>
           </div>
    </div>

    <div class="col-4">
        <div>
            <figcaption>Angular</figcaption>
            <img class="imagenes" src="assets/angular.png">
        </div>
        
               <div class="progress">
<div class="progress-bar w-10 bg-info "  style="width: 60%;"> 
60%
</div>
                            </div>
</div>

<div class="col-4">
    <div>
        <figcaption>Bootstrap</figcaption>
        <img id="boos" src="assets/bootstrap-logo.png">
    
    </div>
   

           <div class="progress">
<div class="progress-bar w-10 bg-info "  style="width: 40%;"> 
40%
</div>
                        </div>
</div>

    



    <div class="row">
                           
                                                <h1 class="texto">Competencia de idiomas</h1>
                  
                                                <div class="col-4"></div>
                                                <div class="col-4">
                                                    <div>
                                                        <figcaption>Ingles</figcaption>
                                                        <img class="imagenes" src="assets/ingles.png">
                                                    </div>
                                                    
                                                           <div class="progress">
                                            <div class="progress-bar w-10 bg-info "  style="width: 75%;"> 
                                            75%
                                            </div>
                                                                        </div>
                                                    <br>
                                                
                                                </div>
                                                


    </div>

<!-- el final -->
</div>




